{% extends 'base.html.twig' %}
{% block title 'Page Acheter' %}
{% block body %}
    <div class="jumbotron text-center">
    <h1>Voir tous les Annonces</h1>
        <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant, eo quoque accedente quod et nomenclatores adsueti haec et talia venditare, mercede accepta lucris quosdam et prandiis inserunt subditicios ignobiles et obscuros.

</p>
    </div>
    <div class="container">
        
    </div>
{% endblock %}